@import "../../styles/vars";

.modal {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    min-width: 400px;
    height: 700px;


}
@media screen and (max-width: $mobile-width){
    .modal {
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
}

