@import "../../styles/vars";


.input {
    border-color: lightgrey;
    border-style: solid;
    height: 35px;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Circular Std", roboto, sans-serif;

    &:focus {
        outline: 1px solid $dark-grey;
        box-shadow: none;
        border: none;

    }

    &--full-width {
        width: 100%;
    }

    &[type="date"] {
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
    }



}
::placeholder {
    color: darkgray;
}
