@import "../../styles/vars";

.app__header {
    background-image: linear-gradient(to right, #3187A2, #7CC1D7);

}

@media (min-width: $mobile-width) {

    .app__header {
        display: flex;
        align-items: flex-start;
        min-width: 100vw;
        min-height: 7rem;

        color: lightgray;

        &__text {
            color: lightgray;

            &.link {
                font-size: 18px;
            }


            &.selected {
                color: white;
            }
        }

        .left-links {
            padding: 1.5rem 0 0 5rem;
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .right-links {
            padding: 1.5rem 5rem 0 0;
            margin-left: auto;

            > .material-symbols-outlined {
                font-size: 50px;
                color: black;
            }

            > .material-symbols-outlined.profile {
                cursor: pointer;
            }
        }
    }

    .icon-name-pair {
        display: flex;
        gap: 5px;
    }

    .logout-menu-container {
        position: relative;
        width: 0;
        height: 0;
    }

    .logout-menu {
        width: 10em;
        height: 4em;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        position: absolute;
        left: -80px;
        top: 20px;
        z-index: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__item {
            display: flex;
            gap: 10px;
            padding: 5px 20px 5px 20px ;


        }

        &__item:hover {
            background-color: lightgray;
        }
    }
}