@use "../../styles/vars";

.day-meal {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    min-height: 7.5rem;

    > .meal {
        height: 5rem;
        display: flex;
        max-height: 7.5rem;
        padding: 10px 10px 10px 5px;

        > img {
            height: 100%;
            object-fit: cover;
            border-radius: 30%;
        }

        > .text {
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding-left: 1rem;
            padding-top: 0.2rem;


        }

        &:nth-child(even) {
            background-color: vars.$secondary;
        }

        &:nth-child(odd) {
            background-color: vars.$primary;
        }

        .material-symbols-outlined {
            cursor: pointer;
            position: relative;
            margin-bottom: auto;
            padding-left: 5px;
            padding-top: 0;
            flex: 0;
            margin-left: auto;
        }
    }
}

.weekly-meals-section {
    padding-top: 2rem;

}

