@use "../../styles/vars";

.day-meal {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 2px lightgray;
    flex-basis: 20%;
    align-self: start;

    > .meal {
        height: 7.5rem;
        display: flex;
        max-height: 7.5rem;
        padding: 10px 10px 10px 5px;
        min-width: 20rem;

        > img {
            height: 100%;
            object-fit: cover;
            border-radius: 30%;
        }

        > .text {
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding-left: 1rem;
            padding-top: 0.2rem;


        }

        &:nth-child(even) {
            background-color: vars.$secondary;
        }

        &:nth-child(odd) {
            background-color: vars.$primary;
        }

        .material-symbols-outlined {
            cursor: pointer;
            position: relative;
            margin-bottom: auto;
            padding-left: 5px;
            padding-top: 0;
            flex: 0;
            margin-left: auto;
        }
    }
}

.weekly-meals-section {
    gap: 5px;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 4rem;
}

@media (max-width: vars.$mobile-width - 1) {
    .day-meal {
        flex-basis: 100%;
    }

}