@import "../../styles/vars";

.select {
    box-sizing: border-box;
    border: none;
    border-left: lightgray;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: white;
    font-family: "Circular Std", roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;

    option {
        padding: 100px;
        color: black;
    }

    &--none {
        color: darkgray;
    }
}

.select:focus {
    border: none;
    outline: none;
}