@import "../../styles/vars";

.search-bar {
    border: none;
    padding: 10px;
    width: 10rem;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    &--full-width {
        width: 100%;
    }

    &-dropdown {
        position: absolute;
        z-index: 1000;
        width: 10rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        padding-top: 5px;
        padding-bottom: 5px;
        max-height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 100%;
        background-color: white;

        &--full-width {
            width: 100%;
        }

    }

}

.dropdown-container {
    width: 10rem;
    position: relative;
    background-color: white;

    &--full-width {
        width: 100%;
    }
}

.dropdown-search-item {
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}

.search-bar:focus {
    border: none;
    outline: none;
}

input[type="text"] {
    font-family: "Circular Std", roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: $mobile-width) {

    .search-bar {
        width: 4rem;

        &--full-width {
            width: 100%;
        }
    }

    input[type="text"] {
        font-size: 12px;
    }

}
