.pagination__index {
    box-shadow: 0 0 2px lightgray;
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    &--invisible {
        visibility: hidden;
    }

    &.selected {
        background-color: lightgray;
    }

}

.pagination {
    display: flex;
}