$primary: #98D596;
$secondary: #2DE1FC;

$danger: #E89169;
$success: #33C759;

$light-grey:  rgba(0, 0, 0, 0.03);
$grey: rgba(0, 0, 0, 0.1);
$dark-grey: rgba(33, 29, 29, 0.3);

$text: #112035;

$mobile-width: 768px;
$large-screen: 1200px